<div class="patient-summary-epsalert">
  <div class="row bottom-xs">
      <div class="patient-summary__block" id="summary-nhs-number">
      <span class="patient-summary__info">NHS number: <span id="copyText2">{{ patient.nhsNumber | formatNhsNumber  or '9726918863' | formatNhsNumber }}</span></span>
    </div>
  
    <div class="patient-summary__block" id="summary-address">
      <span class="patient-summary__info"> There has been a problem and patient details are not available right now. Try again later.</span>
    </div>
  </div>
  
  







  <div id="patientview-sentinel" style="height: 1px; background-color: transparent;"></div>
</div>


<span class="app-floating-name-dob">
  {{ patient.firstName or 'Sofia' }} {{ patient.lastName | upper or 'Rodriguez'| upper }} |&nbsp;DOB: {{ patient.dob or '5-Aug-1990' }}
</span>
