{% extends './_includes/layout-application-none-timer.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}

{% block pageTitle %}
Log out - {{ serviceName }}
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-sm-0 col-md-1 col-lg-1 col-xl-3"></div>
  <div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
    
      <h1 class="select-role-header nhsuk-heading-l nhsuk-u-margin-bottom-3" id="select-role-header">
       For your security, we have logged you out
      </h1>
        <p>We have logged you out because you did not do anything for 15 minutes. This is to protect patient information.</p>
    </br>
        <a href="#">Log back in</a> 
      

   
  </div>
</div>

{% endblock %}

