<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" id="patient-details-panel">
    <div class="nhsuk-card__content nhsuk-u-padding-3">

      <p class="nhsuk-u-margin-bottom-2"><strong>Prescriber</strong> </br>{{ prescriptionPrescriberOrg or 'FIpo SURGERY (ODS: FI05964)' }}</p>
      <p class="nhsuk-u-margin-bottom-2"> {{ prescriptionPrescriberAddress or '91 YARROW LANE, FINNSBURY, E45 T46' }}
      </p>
      <p class="nhsuk-u-margin-bottom-2"><strong>Contact details</strong> </br>{{ prescriptionPrescriberContact or '01232 231321' }}</p>
      <p class="nhsuk-u-margin-bottom-2"><strong>Prescribes from</strong> </br>{{ prescriptionPrescriberCountry or 'England' }}</p>
   
    </div>
  </div>
</div>