

{% set PROTOTYPEURL = "prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Your prescriptions" %}
{% set title = contentTitle + " - " + serviceName %}
{% set prescriptionsActive = "active" %}

{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-desktop" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back to home</a></p>
  </div>
</nav>

<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-native" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ contentTitle }}</h1>

    <p>You can present these at a pharmacy to help a pharmacist find your prescription.</p>

    <div class="nhs-app-panel-heading">
      <h2 class="nhsuk-heading-l">Prescriptions</h2>
    </div>

    <ul class="prescriptions-panel">

      <li class="panel-link__item">
        <a class="panel-link__link" href="/{{ PROTOTYPEURL }}/your-prescription">
          <h2 class="panel-link__heading nhsuk-heading-s nhsuk-u-margin-top-2">Repeat prescription</h2>

          <p class="panel-link__content nhsuk-u-margin-bottom-4">Created: 26 April 2023<br>Batch 1 of 6</p>
          <ul>
            <li>Metformin 500mg capsules</li>
            <li>Rosuvastatin 20mg tablets</li>
            <li>Naproxen 70mg/5ml oral suspension</li>
          </ul>
          <p class="prescriptions-panel__content prescription-medicine-detail nhsuk-u-margin-bottom-1 ">Prescribed by:</p>

          <p class="prescriptions-panel__content prescription-medicine-detail nhsuk-u-margin-bottom-1 ">This prescription is being sent to:</p>
          <p class="prescriptions-panel__content prescription-medicine-instructions">Boots Pharmacy, Leeds Trinity,<br>Leeds, LS1 5EY.</p>

        </a>
      </li>

    </ul>

    <p class="desktop-back-link">
      <a href="javascript: window.history.go(-1)">Back</a>
    </p>

  </div>
</div>

{% endblock %}
