<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" id="patient-details-panel">
    <div class="nhsuk-card__content nhsuk-u-padding-3">
      
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Dispenser</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
              {{ prescription.Dispenserorg or 'COHENS CHEMIST (ODS: FV519)' }}
            </span>
            <br>

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Address</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
              {{ prescription.Dispenseraddress or '123 Lime street, Norfolk' }}
            </span>
            <br>

           

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Dispenser contact details</dt>
          <dd class="nhsuk-summary-list__value ">
            <span class="data-field__content data-field__content--address">
              {{ prescription.Dispensercontact or '01234 123453' }}
            </span>
            <br>

           

          </dd>
        </div>
        
      </dl>
    </div>
  </div>
</div>