<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" id="patient-details-panel">
    <div class="nhsuk-card__content nhsuk-u-padding-3">
      
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Prescriber</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
              {{ prescriptions.prescriberOrg or 'FIJI SURGERY (ODS: FI05964)' }}
            </span>
            <br>

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Address</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
              {{ prescriptions.prescriberAddress or '90 YARROW LANE, FINNSBURY, E45 T46' }}
            </span>
            <br>

           

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Prescribed from </dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
              {{ prescriptions.prescriberCountry or 'England' }}
            </span>
            <br>

           

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Contact details</dt>
          <dd class="nhsuk-summary-list__value ">
            <span class="data-field__content data-field__content--address">
              {{ prescriptions.prescribercontact or '01232 231321' }}
            </span>
            <br>

           

          </dd>
        </div>
        
      </dl>
    </div>
  </div>
</div>