<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" id="message history">
    <div class="nhsuk-card__content nhsuk-u-padding-4">
     
      <div class="nhs-screening-whole-timeline">
        <!--first item-->
{% if prescriptionMessage1 === 'yes' %}
        <div class="nhs-screening-whole-timeline__item">
          <div class="nhs-timeline__header">
            <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader1 or 'Dispenser has sent a claim notification' }}</h3>
          </div>
          <p class="nhs-screening-whole-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">Sent date: {{ prescriptionMessageDateTime1 or '04-Aug-2024 13:35:33' }}
            </time>
          </p>
          <div class="nhs-screening-whole-timeline__description">Organisation: {{ prescriptionMessage1Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
          </div>
          <div class="nhs-screening-whole-timeline__description">
            New status: 
            {% set status = PrescriptionNewStatus1 or 'Claimed' %}
            <strong class="nhsuk-tag            
               {% if status == 'Available to download' %} nhsuk-tag--yellow             
              {% elif status == 'Items dispensed' %} nhsuk-tag--green             
              {% elif status == 'Cancelled' %} nhsuk-tag--red            
               {% elif status == 'Future issue date' %} nhsuk-tag--blue      
              {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
              {% elif status == 'Future repeat dispense' %} nhsuk-tag--aqua-green  
              {% elif status == 'No items dispensed' %} nhsuk-tag--white   
              {% elif status == 'Expired' %} nhsuk-tag--orange      
              {% elif status == 'Claimed' %} nhsuk-tag--grey 
              {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
              {% elif status == 'Next repeat ready to download' %} nhsuk-tag--pink              
              {% endif %}">
              {{ status }}
            </strong> 
          </div>
          {% if prescriptionDN1 === 'yes' %}
          <div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN1id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
          </div>
          <div class="nhs-screening-whole-timeline__description">Prescription items: <ul class="nhsuk-u-padding-top-2"><li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[0].item }}</br>Quantity: {{ prescriptionDN1Items[0].quantity }} </li>
            <li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[1].item }}</br>Quantity: {{ prescriptionDN1Items[1].quantity }} </li>
            <li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[2].item }}</br>Quantity: {{ prescriptionDN1Items[2].quantity }} </li>
            <li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[3].item }}</br>Quantity: {{ prescriptionDN1Items[3].quantity }} </li>
          </ul>
          </div>
          {% endif %}
        </div>
{% endif %}
              <!-- second item -->
{% if prescriptionMessage2 === 'yes' %}
        <div class="nhs-screening-whole-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader2 or 'Dispenser has sent a dispense notification' }}</h3>
          </div>
          <p class="nhs-screening-whole-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">Sent date: {{ prescriptionMessageDateTime2 or '07-Jun-2024 12:05:33' }}
            </time>
          </p>
          <div class="nhs-screening-whole-timeline__description">Organisation: {{ prescriptionMessage2Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
          </div>
          <div class="nhs-screening-whole-timeline__description"> 
            New status: 
            {% set status = prescriptionNewStatus2 or 'All items dispensed' %}
            <strong class="nhsuk-tag            
               {% if status == 'Available to download' %} nhsuk-tag--yellow             
              {% elif status == 'Items dispensed' %} nhsuk-tag--green             
              {% elif status == 'Cancelled' %} nhsuk-tag--red            
               {% elif status == 'Future issue date' %} nhsuk-tag--blue      
              {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
              {% elif status == 'Future repeat dispense' %} nhsuk-tag--aqua-green  
              {% elif status == 'No items dispensed' %} nhsuk-tag--white   
              {% elif status == 'Expired' %} nhsuk-tag--orange      
              {% elif status == 'Claimed' %} nhsuk-tag--grey 
              {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
              {% elif status == 'Next repeat ready to download' %} nhsuk-tag--pink              
              {% endif %}">
              {{ status }}
            </strong> 
          </div>
{% if prescriptionDN2 === 'yes' %}
<div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN2id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
</div>
<div class="nhs-screening-whole-timeline__description">Prescription items: <ul class="nhsuk-u-padding-top-2"><li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[0].item }}</br>Quantity: {{ prescriptionDN2Items[0].quantity }} </li>
  <li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[1].item }}</br>Quantity: {{ prescriptionDN2Items[1].quantity }} </li>
  <li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[2].item }}</br>Quantity: {{ prescriptionDN2Items[2].quantity }} </li>
  <li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[3].item }}</br>Quantity: {{ prescriptionDN2Items[3].quantity }} </li>
</ul>
</div>
{% endif %}

         
        </div>
{% endif %}
              <!-- third item-->
{% if prescriptionMessage3 === 'yes' %}
              <div class="nhs-screening-whole-timeline__item">
                <div class="moj-timeline__header">
                  <h3 class="nhs-screening-whole-timeline__title"> {{ prescriptionMessageHeader3 or 'Dispenser has downloaded the prescription' }}</h3>
                </div>
                <p class="nhs-screening-whole-timeline__date">
                  <time datetime="2019-06-14T14:01:00.000Z">Sent date: {{ prescriptionMessageDateTime3 or '06-Jun-2024 17:05:33' }}
                  </time>
                </p>
                <div class="nhs-screening-whole-timeline__description">Organisation: {{ prescriptionMessage3Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
                </div>
                <div class="nhs-screening-whole-timeline__description">
                  New status: 
                  {% set status = prescriptionNewStatus3 or 'Downloaded by a dispenser' %}
                  <strong class="nhsuk-tag            
                     {% if status == 'Available to download' %} nhsuk-tag--yellow             
                    {% elif status == 'Items dispensed' %} nhsuk-tag--green             
                    {% elif status == 'Cancelled' %} nhsuk-tag--red            
                     {% elif status == 'Future issue date' %} nhsuk-tag--blue      
                    {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
                    {% elif status == 'Future repeat dispense' %} nhsuk-tag--aqua-green  
                    {% elif status == 'No items dispensed' %} nhsuk-tag--white   
                    {% elif status == 'Expired' %} nhsuk-tag--orange      
                    {% elif status == 'Claimed' %} nhsuk-tag--grey 
                    {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
                    {% elif status == 'Next repeat ready to download' %} nhsuk-tag--pink              
                    {% endif %}">
                    {{ status }}
                  </strong>    
                </div>
                {% if prescriptionDN3 === 'yes' %}
<div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN3id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
</div>
<div class="nhs-screening-whole-timeline__description">Prescription items: <ul class="nhsuk-u-padding-top-2"><li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[0].item }}</br>Quantity: {{ prescriptionDN3Items[0].quantity }} </li>
  <li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[1].item }}</br>Quantity: {{ prescriptionDN3Items[1].quantity }} </li>
  <li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[2].item }}</br>Quantity: {{ prescriptionDN3Items[2].quantity }} </li>
  <li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[3].item }}</br>Quantity: {{ prescriptionDN3Items[3].quantity }} </li>
</ul>
</div>
{% endif %}
              </div>
{% endif %}
        <!--first item-->
        <!--
  <div class="nhs-screening-whole-timeline__item">
                <div class="moj-timeline__header">
                  <h3 class="nhs-screening-whole-timeline__title"> {{ prescriptions.prescriptionMessage4header or 'Prescription has been uploaded' }}</h3>
                </div>
                <p class="nhs-screening-whole-timeline__date">
                  <time datetime="2019-06-14T14:01:00.000Z">Sent date: {{ prescriptions.prescriptionMessage4sendDateTime or '05-June-2024 12:33:33' }}
                  </time>
                </p>
                <div class="nhs-screening-whole-timeline__description">Organisation: {{ prescriptions.prescriptionMessage4Org or 'FIJI SURGERY (ODS: FI05964)' }}
                </div>
                <div class="nhs-screening-whole-timeline__description">
                  New status: 
                  {% set status = prescriptions.PrescriptionMessage4NewStatus or 'Available to download' %}
                  <strong class="nhsuk-tag            
                     {% if status == 'Available to download' %} nhsuk-tag--yellow             
                    {% elif status == 'All items dispensed' %} nhsuk-tag--green             
                    {% elif status == 'Cancelled' %} nhsuk-tag--red            
                     {% elif status == 'Future issue date' %} nhsuk-tag--blue      
                    {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
                    {% elif status == 'Future repeat dispense' %} nhsuk-tag--aqua-green  
                    {% elif status == 'No items dispensed' %} nhsuk-tag--white   
                    {% elif status == 'Expired' %} nhsuk-tag--orange      
                    {% elif status == 'Claimed' %} nhsuk-tag--grey 
                    {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple 
                    {% elif status == 'Next repeat ready to download' %} nhsuk-tag--pink              
                    {% endif %}">
                    {{ status }}
                  </strong>     
              </div>
              </div>
        -->
            
              </div>
      
    </div>
  </div>
</div>