<div class="patient-summary-epsalert">
  <div class="row bottom-xs">
   
  
    <div class="patient-summary__block" id="summary-address">
      <span class="patient-summary__info"> Some information is unavailable right now. It may help to refresh the page or try again later.</span>
    </div>
  </div>
  
  







  <div id="patientview-sentinel" style="height: 1px; background-color: transparent;"></div>
</div>


<span class="app-floating-name-dob">
  {{ patient.firstName or 'Sofia' }} {{ patient.lastName | upper or 'Rodriguez'| upper }} |&nbsp;DOB: {{ patient.dob or '5-Aug-1990' }}
</span>
