{% extends './_includes/layout-application-no-footer.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}

{% block pageTitle %}
Role journey - {{ serviceName }}
{% endblock %}


{% block content %}

<div class="row">
  <div class="nhsuk-grid-column-one-third">
 <h1 class="nhsuk-heading-m">Role selected journeys</h1>
 <div class="nhsuk-card allowed-role">
  <div class="nhsuk-card__content">
   
      <h3 class="nhsuk-card__heading">
        <div class="role-details">
          <a href="roles?selection=yes&cards=yes&noAccess=yes&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
            <u>Role selected - all components</u>
          </a>
        </div>
      </h3>
      <p class="role-details">Role selected, role cards and roles without access</p>
   

    
  </div>
</div>
<div class="nhsuk-card allowed-role">
  <div class="nhsuk-card__content">
   
      <h3 class="nhsuk-card__heading">
        <div class="role-details">
          <a href="roles?selection=yes&cards=yes&noAccess=no&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
            <u>Role selected - no roles without access</u>
          </a>
        </div>
      </h3>
      <p class="role-details">Role selected and role cards</p>
   

    
  </div>
</div>
<div class="nhsuk-card allowed-role">
  <div class="nhsuk-card__content">
   
      <h3 class="nhsuk-card__heading">
        <div class="role-details">
          <a href="roles?selection=yes&cards=no&noAccess=yes&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
            <u>Role selected - including roles without access</u>
          </a>
        </div>
      </h3>
      <p class="role-details">Role selected and roles without access</p>
   

    
  </div>
</div>

<div class="nhsuk-card allowed-role">
  <div class="nhsuk-card__content">
   
      <h3 class="nhsuk-card__heading">
        <div class="role-details">
          <a href="roles?selection=yes&cards=no&noAccess=no&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
            <u>Selected role only</u>
          </a>
        </div>
      </h3>
      <p class="role-details">Role selected</p>
   

    
  </div>
</div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h1 class="nhsuk-heading-m">Role not selected journeys</h1>
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
       
          <h3 class="nhsuk-card__heading">
            <div class="role-details">
              <a href="roles?selection=no&cards=yes&noAccess=yes&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
                <u>No role selected - roles with and without access</u>
              </a>
            </div>
          </h3>
          <p class="role-details">Roles with access and roles without access</p>
       
    
        
      </div>
    </div>
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
       
          <h3 class="nhsuk-card__heading">
            <div class="role-details">
              <a href="roles?selection=no&cards=yes&noAccess=no&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
                <u>No role selected - roles with access</u>
              </a>
            </div>
          </h3>
          <p class="role-details">Roles with access</p>
       
    
        
      </div>
    </div>
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
       
          <h3 class="nhsuk-card__heading">
            <div class="role-details">
              <a href="roles?selection=no&cards=yes&noAccess=no&singleRole=yes&action=no" class="role-name" role="button" tabindex="0">
                <u>No role selected - one role with access</u>
              </a>
            </div>
          </h3>
          <p class="role-details">Roles with access</p>
       
    
        
      </div>
    </div>
    
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
       
          <h3 class="nhsuk-card__heading">
            <div class="role-details">
              <a href="roles?selection=no&cards=no&noAccess=yes&singleRole=no&action=no" class="role-name" role="button" tabindex="0">
                <u>No access to tracker</u>
              </a>
            </div>
          </h3>
          <p class="role-details">Roles without access</p>
       
    
        
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h1 class="nhsuk-heading-m">Error messages</h1>
  </div>
  <div class="nhsuk-card allowed-role">
    <div class="nhsuk-card__content">
     
        <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="search?error=missing-presc-number" class="role-name" role="button" tabindex="0">
              <u>No prescription number entered</u>
            </a>
          </div>
        </h3>

    </div>
  </div>
  
  <div class="nhsuk-card allowed-role">
    <div class="nhsuk-card__content">
     
        <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="search?error=no-matching-presc" class="role-name" role="button" tabindex="0">
              <u>Invalid prescription ID (no match)</u>
            </a>
          </div>
        </h3>

    </div>
  </div>

  <div class="nhsuk-card allowed-role">
    <div class="nhsuk-card__content">
     
        <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="search?error=too-many" class="role-name" role="button" tabindex="0">
              <u>Not enough or too many characters</u>
            </a>
          </div>
        </h3>

    </div>
  </div>

  <div class="nhsuk-card allowed-role">
    <div class="nhsuk-card__content">
     
        <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="search?error=special-character" class="role-name" role="button" tabindex="0">
              <u>Special characters</u>
            </a>
          </div>
        </h3>

    </div>
  </div>

</div>

{% endblock %}

