{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}

{% block pageTitle %}
Role selection - {{ serviceName }}
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-sm-0 col-md-1 col-lg-1 col-xl-3"></div>
  <div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
      {% if data['action'] === 'change' %}
      <h1 class="select-role-header nhsuk-heading-xl" id="select-role-header">
        Change your role
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Select the role you wish to use to access the service</span>
      </h1>
      {% else %}
      <h1 class="select-role-header nhsuk-heading-xl" id="select-role-header">
        Select your role
      </h1>
        <p>Select the role you wish to use to access the service</p>
      {% endif %}

      {% if selection == "yes" %}
      <div>
        <div class="nhsuk-inset-text current-role">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p id="current-role-details">You are currently logged in at NHS CONNECTING FOR HEALTH (X09) with {{ data['roleType'] or 'Clinical Practitioner Access Role' }}</p></div>
  
        
        <a href="search" aria-disabled="false" class="nhsuk-button" id="confirm-current-role" role="button" type="submit">Continue to find a prescription</a>
     
      </div>
      {% elif data['action'] === 'change' %}
      <div>
        <div class="nhsuk-inset-text current-role">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p id="current-role-details">You are currently logged in at NHS CONNECTING FOR HEALTH (X09) with {{ data['roleType'] or 'Clinical Practitioner Access Role' }}</p></div>
  
        
        <a href="search" aria-disabled="false" class="nhsuk-button" id="confirm-current-role" role="button" type="submit">Continue to find a prescription</a>
       
      </div>

      {% endif %}
      {% if selection == "yes" %} 
      {% if cards == "yes" %}
      <p>Alternatively, you can choose a new role below</p>
      {% endif %}
      {% endif %}

   

<!-- <h2 class="allowed-role-title{% if data['action'] !== 'change' %} nhsuk-heading-m{% endif %}">Roles with access to the Clinical prescription tracking service</h2>-->
{% if cards == "yes" %}
{% for role in roles  %}
  <div class="nhsuk-card allowed-role">
    <div class="nhsuk-card__content">
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-3">
        <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="roles-confirm?roleType={{ role.roleName }}" class="role-name" role="button" tabindex="0">
              <u>{{ role.site }}</u>
            </a>
          </div>
        </h3>
        <p class="role-details">{{ role.roleName }}</p>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <p class="nhsuk-u-margin-top-1 nhsuk-u-font-size-12">
         
          {{ role.addressLine1 }}<br>
          {{ role.addressLine2 }}<br>
          {{ role.addressLine3 }}<br>
          {{ role.postcode }}
        </p>
      </div>
    </div>
  </div>
 
{% endfor %}
<p class="rows-displayed-count"><b>Showing {{data.roles | length }} of {{data.roles | length }} roles</b></p>
{% endif %}


<!-- Hard coded page back up-->
 <!-- 
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
        <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-3">
          <h3 class="nhsuk-card__heading">
            <div class="role-details">
              <a href="roles-confirm?roleType=Demographic%20Administrator" class="role-name" role="button" tabindex="0">
                <u>NHS CONNECTING FOR HEALTH (X09)</u></a>
            </div>
            </h3><p class="role-details">Demographic Administrator</p>
        </div>
       
          <div class="nhsuk-grid-column-one-half">
            <p class="nhsuk-u-margin-top-1 nhsuk-u-font-size-12"> 
              Site
            </br> Site 2
          </br> Site 3
        </br> Site 4
            </p>
          </div>
      </div>
    </div>
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
        <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-3"> <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="roles-confirm?roleType=Health%20Records%20Manager%20Access%20Role" class="role-name" role="button" tabindex="0">
              <u>NHS CONNECTING FOR HEALTH (X09)</u></a>
          </div>
          </h3><p class="role-details">Health Records Manager Access Role</p></div>
       
          <div class="nhsuk-grid-column-one-half">
            <p class="nhsuk-u-margin-top-1 nhsuk-u-font-size-12"> 
              Site
            </br> {{roles.addressLine1}}
          </br> Site 3
        </br> Site 4
            </p>
          </div>
      </div>
    </div>
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
        <div class="nhsuk-grid-column-one-half">
          <h3 class="nhsuk-card__heading">
            <div class="role-details">
              <a href="roles-confirm?roleType=Midwife%20Access%20Role" class="role-name" role="button" tabindex="0">
                <u>NHS CONNECTING FOR HEALTH (X09)</u></a>
            </div>
            </h3><p class="role-details">Midwife Access Role</p>
        </div>
        
          <div class="nhsuk-grid-column-one-half">    
            <p class="nhsuk-u-margin-top-1 nhsuk-u-font-size-12"> 
            Site
          </br> Site 2
        </br> Site 3
      </br> Site 4
          </p></div>
      </div>
    </div>
    <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
        <div class="nhsuk-grid-column-one-half">     <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="roles-confirm?roleType=Pharmacist" class="role-name" role="button" tabindex="0">
              <u>NHS CONNECTING FOR HEALTH (X09)</u></a>
          </div>
          </h3> <p class="role-details">Pharmacist</p> </div>
        <div class="nhsuk-grid-column-one-half">
          <p class="nhsuk-u-margin-top-1 nhsuk-u-font-size-12"> 
            Site
          </br> Site 2
        </br> Site 3
      </br> Site 4
          </p> </div>
   
       
      </div>
    </div>
-->


    <!--
   <div class="nhsuk-card allowed-role">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          <div class="role-details">
            <a href="roles-confirm?roleType=Admin%2FClinical%20Support%20Access%20Role" class="role-name" id="select_555292251104_X26" role="button" tabindex="0"><u>NHS ENGLAND - X26 (X26)</u>
            </a>
          </div>
          <p class="role-details">Admin/Clinical Support Access Role</p></h3>
        
      </div>
    </div>
    -->
{% if noAccess == "yes" %}
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          View your roles without access to the clinical prescription tracking service
        </span>
      </summary>
      <div class="nhsuk-details__text">
    
        <table class="nhsuk-table">
         
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
               Organisation
              </th>
              <th role="columnheader" class="" scope="col">
               Role
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for role in roles %}
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ role.site }}</td>
              <td class="nhsuk-table__cell ">{{ role.roleName }}</td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>
    </details>
{% endif %}
  </div>
</div>


<script>
  function saveQueryParams() {
    const params = new URLSearchParams(window.location.search);
    sessionStorage.setItem("roleSelectionParams", params.toString());
  }
  
  function restoreQueryParams() {
    const storedParams = sessionStorage.getItem("roleSelectionParams");
    if (storedParams) {
      const currentParams = new URLSearchParams(window.location.search);
      const storedParamsObj = new URLSearchParams(storedParams);
  
      // Merge stored parameters with current ones
      storedParamsObj.forEach((value, key) => {
        if (!currentParams.has(key)) {
          currentParams.set(key, value);
        }
      });
  
      // Update URL only if there are missing parameters
      if (currentParams.toString() !== window.location.search.substring(1)) {
        window.location.search = currentParams.toString();
      }
    }
  }
  
  // Call the functions when the page loads
  saveQueryParams();
  restoreQueryParams();
  
  </script>
{% endblock %}
