{% extends './_includes/layout-application-search.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}
{% set containerClasses = 'patient-search-form-container' %}
{% set searchTerm = 'nhs'%}
{% set searchLink = 'no' %}

{% block pageTitle %}
Find a patient by NHS number - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

<div class="above-tab-space">
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-hero__wrapper"><h1 class="nhsuk-u-margin-bottom-3">Search for a prescription</h1></div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="nhsuk-tab-set find-patient-tabset">
  <div class="find-patient-tabset__container">
    <a href="search" class="nhsuk-tab-set__tab" id="nhs-number-search-tab" type="button">
      <span class="nhsuk-u-visually-hidden">Search by </span>
      Prescription ID search
    </a>
    <a href="search-nhs" class="nhsuk-tab-set__tab nhsuk-tab-set__tab--active" id="basic-search-tab" type="button">
      <span class="nhsuk-u-visually-hidden">Search by </span>
      NHS number search
    </a>
    <a href="search-basic" class="nhsuk-tab-set__tab" id="advanced-search-tab" type="button">
      <span class="nhsuk-u-visually-hidden">Search by </span>
      Basic details search
    </a>
    
  </div>
</div>

{% endblock %}


{% block content %}

<div class="main-body-wrapper">

<div class="patient-search-form row">
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div>
      <form action="search-nhs-post" method="POST" novalidate="">
        <div class="patient-search-form__field-group">
          <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1 no-outline" id="nhs-number-search-form-nhs-number--label" tabindex="-1">
            <span class="nhsuk-u-visually-hidden">Search by </span>
            Search using NHS number
          </h2>
          <div class="nhsuk-hint" id="nhs-number-hint">This is a 10 digit number, like 485 777 3456.</div>
          <div class="nhsuk-form-group">
            <input autofocus aria-describedby="nhs-number-hint" aria-labelledby="nhs-number-search-form-nhs-number--label" autocomplete="off" class="nhsuk-input nhsuk-input--width-10" id="nhs-number-search-form-nhs-number" name="nhsNumber" type="tel" value="">
          </div>
        </div>

        {% if data['devMode'] === 'true' %}
        {# DEVMODE SCENARIOS #}
        <br>
        <details class="nhsuk-details dev-mode">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Show Patient list
            </span>
          </summary>

          <div class="nhsuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              {% for item in data.patients %}
                {% set patientList = item | objectToArray %}
                {% for patient in patientList %}
                  <li>
                    <a href="search-results?nhsNumber={{ patient.nhsNumber }}">
                      {{ patient.firstName }} {{ patient.lastName }} | {{ patient.dob | calculateAge }}
                    </a>
                  </li>
                  {% else %}
                  <li>None found</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </details>
        <br>

        {% endif %}

        <button aria-disabled="false" class="nhsuk-button patient-search-form__button" id="nhs-number-submit" type="submit">Find a patient</button>
      </form>
    </div>
  </div>

  
</div>

</div>
<script>
document.getElementById('nhs-number-search-form-nhs-number').addEventListener('input', function (e) {
    let value = e.target.value.replace(/\D/g, ''); // Remove all non-digit characters
    let formattedValue = value;

    // Format the value with spaces for display
    if (value.length > 3) {
        formattedValue = value.slice(0, 3) + ' ' + value.slice(3);
    }
    if (value.length > 6) {
        formattedValue = formattedValue.slice(0, 7) + ' ' + formattedValue.slice(7);
    }

    e.target.value = formattedValue;
});

document.getElementById('nhs-number-submit').addEventListener('submit', function (e) {
    let input = document.getElementById('nhs-number-search-form-nhs-number');
    
    // Remove spaces from the input before form submission
    input.value = input.value.replace(/\s/g, '');

    // Debugging: Check the cleaned value
    console.log('Submitting NHS Number:', input.value);

    // Allow the form to be submitted
});


</script>
{% endblock %}
