<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" style="box-shadow: none;" id="message history">
    <div class="nhsuk-card__content nhsuk-u-padding-4">
     
      <div class="nhs-screening-whole-timeline">
        <!--first item-->
{% if prescriptionMessage1 === 'yes' %}
        <div class="nhs-screening-whole-timeline__item nhsuk-u-padding-bottom-3">
          <div class="nhs-timeline__header">
            <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader1 or 'Dispenser has sent a claim notification' }}</br>{{ prescriptionMessageDateTime1 or '04-Aug-2024 13:35:33' }}</h3>
          </div>
          
          <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2">Organisation: {{ prescriptionMessage1Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
          </div>

          {% if prescriptionNewStatus1 %}
          <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
            New status: 
            {% set status = prescriptionNewStatus1 or 'Claimed' %}
            <strong class="nhsuk-tag            
               {% if status == 'Available to download' %} nhsuk-tag--yellow             
              {% elif status == 'Items dispensed' %} nhsuk-tag--green    
              {% elif status == 'All items dispensed' %} nhsuk-tag--green            
              {% elif status == 'Cancelled' %} nhsuk-tag--red            
               {% elif status == 'Future issue date' %} nhsuk-tag--blue   
               {% elif status == 'Future eRD issue' %} nhsuk-tag--aqua-green        
              {% elif status == 'Some items owed' %} nhsuk-tag--blue
              {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
              {% elif status == 'To dispense in the future' %} nhsuk-tag--blue 
              {% elif status == 'No items dispensed' %} nhsuk-tag--white   
              {% elif status == 'Not dispensed' %} nhsuk-tag--red   
              {% elif status == 'Expired' %} nhsuk-tag--orange      
              {% elif status == 'Claimed' %} nhsuk-tag--grey 
              {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
              {% elif status == 'Available to download when due' %} nhsuk-tag--orange   
              {% elif status == 'Future prescription cancelled' %} nhsuk-tag--red             
              {% endif %}">
              {{ status }}
            </strong> 
          </div>
          {% endif %}
          {% if prescriptionDN1 === 'yes' %}
          <details class="nhsuk-details nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-0">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
                Dispense notification information
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN1id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
              </div>
              <div class="nhs-screening-whole-timeline__description">Dispensed items: <ul class="nhsuk-u-padding-top-2">
                {% if prescriptionDN1Items[0].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[0].item }}</br>{% set itemStatus = prescriptionDN1Items[0].status %} <strong class="nhsuk-tag            
                  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
                  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
                  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
                  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
                  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
                  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
                  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
                  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
                  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
                  {% elif itemStatus == 'Not dispensed' %} nhsuk-tag--red  
                  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
                  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
                  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
                  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
                  {% endif %}">
                 {{ itemStatus }}
                </strong></br>Quantity: {{ prescriptionDN1Items[0].quantity }}</br>Instruction: {{ prescriptionDN1Items[0].instruction }}  </li> {% endif %}
                {% if prescriptionDN1Items[1].item %} <li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[1].item }}</br>{% set itemStatus = prescriptionDN1Items[1].status %} <strong class="nhsuk-tag            
                  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
                  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
                  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
                  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
                  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
                  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
                  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
                  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
                  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
                  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
                  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
                  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
                  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
                  {% endif %}">
                 {{ itemStatus }}
                </strong> </br>Quantity: {{ prescriptionDN1Items[1].quantity }}</br>Instruction: {{ prescriptionDN1Items[1].instruction }}</li> {% endif %}
                {% if prescriptionDN1Items[2].item %} <li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[2].item }}</br>{% set itemStatus = prescriptionDN1Items[2].status %} <strong class="nhsuk-tag            
                  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
                  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
                  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
                  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
                  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
                  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
                  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
                  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
                  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
                  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
                  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
                  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
                  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
                  {% endif %}">
                 {{ itemStatus }}
                </strong> </br>Quantity: {{ prescriptionDN1Items[2].quantity }}</br>Instruction: {{ prescriptionDN1Items[2].instruction }}</li> {% endif %}
                {% if prescriptionDN1Items[3].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN1Items[3].item }}</br>{% set itemStatus = prescriptionDN1Items[3].status %} <strong class="nhsuk-tag            
                  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
                  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
                  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
                  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
                  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
                  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
                  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
                  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
                  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
                  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
                  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
                  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
                  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange             
                  {% endif %}">
                 {{ itemStatus }}
                </strong> </br>Quantity: {{ prescriptionDN1Items[3].quantity }}</br>Instruction: {{ prescriptionDN1Items[3].instruction }}</li>{% endif %}
              </ul>
              </div>
          
            </div>
          </details>
        
          {% endif %}
        </div>
{% endif %}
              <!-- second item -->
{% if prescriptionMessage2 === 'yes' %}
        <div class="nhs-screening-whole-timeline__item nhsuk-u-padding-bottom-3">
          <div class="moj-timeline__header">
            <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader2 or 'Dispenser has sent a dispense notification' }}</br>{{ prescriptionMessageDateTime2 or '07-Jun-2024 12:05:33' }}</h3>
          </div>
       
          <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2">Organisation: {{ prescriptionMessage2Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
          </div>
          {% if prescriptionNewStatus2 %}
          <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2"> 
            New status: 
            {% set status = prescriptionNewStatus2 or 'All items dispensed' %}
            <strong class="nhsuk-tag            
               {% if status == 'Available to download' %} nhsuk-tag--yellow             
              {% elif status == 'Items dispensed' %} nhsuk-tag--green          
              {% elif status == 'All items dispensed' %} nhsuk-tag--green      
              {% elif status == 'Cancelled' %} nhsuk-tag--red            
               {% elif status == 'Future issue date' %} nhsuk-tag--blue   
               {% elif status == 'Future eRD issue' %} nhsuk-tag--aqua-green        
              {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
              {% elif status == 'Some items owed' %} nhsuk-tag--blue
              {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
              {% elif status == 'To dispense in the future' %} nhsuk-tag--blue 
              {% elif status == 'No items dispensed' %} nhsuk-tag--white   
              {% elif status == 'Not dispensed' %} nhsuk-tag--red   
              {% elif status == 'Expired' %} nhsuk-tag--orange      
              {% elif status == 'Claimed' %} nhsuk-tag--grey 
              {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
              {% elif status == 'Available to download when due' %} nhsuk-tag--orange  
              {% elif status == 'Future prescription cancelled' %} nhsuk-tag--red               
              {% endif %}">
              {{ status }}
            </strong> 
          </div>
          {% endif %}
{% if prescriptionDN2 === 'yes' %}
<details class="nhsuk-details nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-0">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
      Dispense notification information
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN2id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
    </div>
    <div class="nhs-screening-whole-timeline__description">Dispensed items: <ul class="nhsuk-u-padding-top-2">
      {% if prescriptionDN2Items[0].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[0].item }}</br>{% set itemStatus = prescriptionDN2Items[0].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange             
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN2Items[0].quantity }}</br>Instruction: {{ prescriptionDN2Items[0].instruction }}</li> {% endif %}
      {% if prescriptionDN2Items[1].item %} <li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[1].item }}</br> {% set itemStatus = prescriptionDN2Items[1].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN2Items[1].quantity }}</br>Instruction: {{ prescriptionDN2Items[1].instruction }}</li> {% endif %}
      {% if prescriptionDN2Items[2].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[2].item }}</br> {% set itemStatus = prescriptionDN2Items[2].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong></br>Quantity: {{ prescriptionDN2Items[2].quantity }}</br>Instruction: {{ prescriptionDN2Items[2].instruction }}  </li>{% endif %}
      {% if prescriptionDN2Items[3].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN2Items[3].item }}</br>{% set itemStatus = prescriptionDN2Items[3].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong></br>Quantity: {{ prescriptionDN2Items[3].quantity }}</br>Instruction: {{ prescriptionDN2Items[3].instruction }}  </li> {% endif %}
    </ul>
    </div>

  </div>
</details>
{% endif %}

         
        </div>
{% endif %}
              <!-- third item-->
{% if prescriptionMessage3 === 'yes' %}
              <div class="nhs-screening-whole-timeline__item nhsuk-u-padding-bottom-3">
                <div class="moj-timeline__header">
                  <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader3 or 'Dispenser has downloaded the prescription' }}</br>{{ prescriptionMessageDateTime3 or '06-Jun-2024 17:05:33' }}</h3>
                </div>
               
                <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2">Organisation: {{ prescriptionMessage3Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
                </div>
                {% if prescriptionNewStatus3 %}
                <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
                  New status: 
                  {% set status = prescriptionNewStatus3 or 'Downloaded by a dispenser' %}
                  <strong class="nhsuk-tag            
                     {% if status == 'Available to download' %} nhsuk-tag--yellow             
                    {% elif status == 'Items dispensed' %} nhsuk-tag--green       
                    {% elif status == 'All items dispensed' %} nhsuk-tag--green         
                    {% elif status == 'Cancelled' %} nhsuk-tag--red            
                     {% elif status == 'Future issue date' %} nhsuk-tag--blue     
                     {% elif status == 'Future eRD issue' %} nhsuk-tag--aqua-green       
                    {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
                    {% elif status == 'Some items owed' %} nhsuk-tag--blue
                    {% elif status == 'To dispense in the future' %} nhsuk-tag--blue 
                    {% elif status == 'No items dispensed' %} nhsuk-tag--white   
                    {% elif status == 'Not dispensed' %} nhsuk-tag--red   
                    {% elif status == 'Expired' %} nhsuk-tag--orange      
                    {% elif status == 'Claimed' %} nhsuk-tag--grey 
                    {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
                    {% elif status == 'Available to download when due' %} nhsuk-tag--orange 
                    {% elif status == 'Future prescription cancelled' %} nhsuk-tag--red               
                    {% endif %}">
                    {{ status }}
                  </strong>    
                </div>
                {% endif %}

{% if prescriptionDN3 === 'yes' %}
<details class="nhsuk-details nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-0">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
      Dispense notification information
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN2id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
    </div>
    <div class="nhs-screening-whole-timeline__description">Dispensed items: <ul class="nhsuk-u-padding-top-2">
      {% if prescriptionDN3Items[0].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[0].item }}</br>{% set itemStatus = prescriptionDN3Items[0].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN3Items[0].quantity }}</br>Instruction: {{ prescriptionDN3Items[0].instruction }} </li> {% endif %}
      {% if prescriptionDN3Items[1].item %} <li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[1].item }}</br>{% set itemStatus = prescriptionDN3Items[1].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN3Items[1].quantity }}</br>Instruction: {{ prescriptionDN3Items[1].instruction }}</li> {% endif %}
      {% if prescriptionDN3Items[2].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[2].item }}</br> {% set itemStatus = prescriptionDN3Items[2].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong></br>Quantity: {{ prescriptionDN3Items[2].quantity }}</br>Instruction: {{ prescriptionDN3Items[2].instruction }}  </li> {% endif %}
      {% if prescriptionDN3Items[3].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN3Items[3].item }}</br>{% set itemStatus = prescriptionDN3Items[3].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN3Items[3].quantity }}</br>Instruction: {{ prescriptionDN3Items[3].instruction }} </li> {% endif %}
    </ul>
    </div>

  </div>
</details>
{% endif %}
              </div>
{% endif %}
  
<!-- Fourth item-->
{% if prescriptionMessage4 === 'yes' %}
<div class="nhs-screening-whole-timeline__item nhsuk-u-padding-bottom-3">
  <div class="moj-timeline__header">
    <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader4 or 'Dispenser has downloaded the prescription' }}</br>{{ prescriptionMessageDateTime4 or '06-Jun-2024 17:05:33' }}</h3>
  </div>
 
  <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2">Organisation: {{ prescriptionMessage4Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
  </div>
  {% if prescriptionNewStatus4 %}
  <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
    New status: 
    {% set status = prescriptionNewStatus4 or 'Downloaded by a dispenser' %}
    <strong class="nhsuk-tag            
       {% if status == 'Available to download' %} nhsuk-tag--yellow             
      {% elif status == 'Items dispensed' %} nhsuk-tag--green        
      {% elif status == 'All items dispensed' %} nhsuk-tag--green        
      {% elif status == 'Cancelled' %} nhsuk-tag--red            
       {% elif status == 'Future issue date' %} nhsuk-tag--blue      
       {% elif status == 'Future eRD issue' %} nhsuk-tag--aqua-green     
      {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
      {% elif status == 'Some items owed' %} nhsuk-tag--blue
      {% elif status == 'To dispense in the future' %} nhsuk-tag--blue 
      {% elif status == 'No items dispensed' %} nhsuk-tag--white 
      {% elif status == 'Not dispensed' %} nhsuk-tag--red   
      {% elif status == 'Expired' %} nhsuk-tag--orange      
      {% elif status == 'Claimed' %} nhsuk-tag--grey 
      {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
      {% elif status == 'Available to download when due' %} nhsuk-tag--orange
      {% elif status == 'Future prescription cancelled' %} nhsuk-tag--red                
      {% endif %}">
      {{ status }}
    </strong>    
  </div>
{% endif %}

{% if prescriptionDN4 === 'yes' %}
<details class="nhsuk-details nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-0">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
      Dispense notification information
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN4id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
    </div>
    <div class="nhs-screening-whole-timeline__description">Dispensed items: <ul class="nhsuk-u-padding-top-2">
      {% if prescriptionDN4Items[0].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN4Items[0].item }}</br> {% set itemStatus = prescriptionDN4Items[0].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN4Items[0].quantity }}</br>Instruction: {{ prescriptionDN4Items[0].instruction }} </li> {% endif %}
      {% if prescriptionDN4Items[1].item %} <li class="nhsuk-u-font-size-16">{{ prescriptionDN4Items[1].item }}</br> {% set itemStatus = prescriptionDN4Items[1].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange             
        {% endif %}">
       {{ itemStatus }}
      </strong></br>Quantity: {{ prescriptionDN4Items[1].quantity }}</br>Instruction: {{ prescriptionDN4Items[1].instruction }} </li>{% endif %}
      {% if prescriptionDN4Items[2].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN4Items[2].item }}</br> {% set itemStatus = prescriptionDN4Items[2].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong> </br>Quantity: {{ prescriptionDN4Items[2].quantity }}</br>Instruction: {{ prescriptionDN4Items[2].instruction }} </li>{% endif %}
      {% if prescriptionDN4Items[3].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN4Items[3].item }}</br>{% set itemStatus = prescriptionDN4Items[3].status %} <strong class="nhsuk-tag            
        {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
        {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
        {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
        {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
        {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
        {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
        {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
        {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
        {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
        {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
        {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
        {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
        {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
        {% endif %}">
       {{ itemStatus }}
      </strong></br>Quantity: {{ prescriptionDN4Items[3].quantity }}</br>Instruction: {{ prescriptionDN4Items[3].instruction }}  </li> {% endif %}
    </ul>
    </div>

  </div>
</details>
{% endif %}
</div>
{% endif %}

{% if prescriptionMessage5 === 'yes' %}
<div class="nhs-screening-whole-timeline__item nhsuk-u-padding-bottom-3">
  <div class="moj-timeline__header">
    <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader5 or 'Dispenser has downloaded the prescription' }}</br>{{ prescriptionMessageDateTime5 or '06-Jun-2024 17:05:33' }}</h3>
  </div>
 
  <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2">Organisation: {{ prescriptionMessage5Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
  </div>
  {% if prescriptionNewStatus5 %}
  <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
    New status: 
    {% set status = prescriptionNewStatus5 or 'Downloaded by a dispenser' %}
    <strong class="nhsuk-tag            
       {% if status == 'Available to download' %} nhsuk-tag--yellow             
      {% elif status == 'Items dispensed' %} nhsuk-tag--green   
      {% elif status == 'All items dispensed' %} nhsuk-tag--green           
      {% elif status == 'Cancelled' %} nhsuk-tag--red            
       {% elif status == 'Future issue date' %} nhsuk-tag--blue      
       {% elif status == 'Future eRD issue' %} nhsuk-tag--aqua-green    
      {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
      {% elif status == 'Some items owed' %} nhsuk-tag--blue
      {% elif status == 'To dispense in the future' %} nhsuk-tag--blue 
      {% elif status == 'No items dispensed' %} nhsuk-tag--white  
      {% elif status == 'No items dispensed' %} nhsuk-tag--red    
      {% elif status == 'Expired' %} nhsuk-tag--orange      
      {% elif status == 'Claimed' %} nhsuk-tag--grey 
      {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
      {% elif status == 'Available to download when due' %} nhsuk-tag--orange
      {% elif status == 'Future prescription cancelled' %} nhsuk-tag--red              
      {% endif %}">
      {{ status }}
    </strong>    
  </div>
  {% endif %}

  {% if prescriptionDN5 === 'yes' %}
<div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN5id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
</div>
<div class="nhs-screening-whole-timeline__description">Dispensed items: <ul class="nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-1">
{% if prescriptionDN5Items[0].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN5Items[0].item }}</br>{% set itemStatus = prescriptionDN5Items[0].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange             
  {% endif %}">
 {{ itemStatus }}
</strong> </br>Quantity: {{ prescriptionDN5Items[0].quantity }}</br>Instruction: {{ prescriptionDN5Items[0].instruction }} </li>{% endif %}
{% if prescriptionDN5Items[1].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN5Items[1].item }}</br>{% set itemStatus = prescriptionDN5Items[1].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
  {% endif %}">
 {{ itemStatus }}
</strong> </br>Quantity: {{ prescriptionDN5Items[1].quantity }}</br>Instruction: {{ prescriptionDN5Items[1].instruction }}</li>{% endif %}
{% if prescriptionDN5Items[2].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN5Items[2].item }}</br>{% set itemStatus = prescriptionDN5Items[2].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
  {% endif %}">
 {{ itemStatus }}
</strong> </br>Quantity: {{ prescriptionDN5Items[2].quantity }}</br>Instruction: {{ prescriptionDN5Items[2].instruction }}</li>{% endif %}
{% if prescriptionDN5Items[3].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN5Items[3].item }}</br> {% set itemStatus = prescriptionDN5Items[3].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
  {% endif %}">
 {{ itemStatus }}
</strong></br>Quantity: {{ prescriptionDN5Items[3].quantity }}</br>Instruction: {{ prescriptionDN5Items[3].instruction }}  </li>{% endif %}
</ul>
</div>
{% endif %}


</div>
{% endif %}
{% if prescriptionMessage6 === 'yes' %}
<div class="nhs-screening-whole-timeline__item nhsuk-u-padding-bottom-3">
  <div class="moj-timeline__header">
    <h3 class="nhs-screening-whole-timeline__title">{{ prescriptionMessageHeader6 or 'Dispenser has downloaded the prescription' }}</br>{{ prescriptionMessageDateTime6 or '06-Jun-2024 17:05:33' }}</h3>
  </div>
 
  <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2">Organisation: {{ prescriptionMessage6Org or 'ASDA Pharmacy (ODS:OXY2G)' }}
  </div>
  {% if prescriptionNewStatus6 %}
  <div class="nhs-screening-whole-timeline__description nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
    New status: 
    {% set status = prescriptionNewStatus6 or 'Downloaded by a dispenser' %}
    <strong class="nhsuk-tag            
       {% if status == 'Available to download' %} nhsuk-tag--yellow             
      {% elif status == 'Items dispensed' %} nhsuk-tag--green   
      {% elif status == 'All items dispensed' %} nhsuk-tag--green           
      {% elif status == 'Cancelled' %} nhsuk-tag--red            
       {% elif status == 'Future issue date' %} nhsuk-tag--blue      
       {% elif status == 'Future eRD issue' %} nhsuk-tag--aqua-green    
      {% elif status == 'Some items dispensed' %} nhsuk-tag--blue
      {% elif status == 'To dispense in the future' %} nhsuk-tag--blue 
      {% elif status == 'No items dispensed' %} nhsuk-tag--white  
      {% elif status == 'Not dispensed' %} nhsuk-tag--red    
      {% elif status == 'Expired' %} nhsuk-tag--orange      
      {% elif status == 'Claimed' %} nhsuk-tag--grey 
      {% elif status == 'Downloaded by a dispenser' %} nhsuk-tag--purple
      {% elif status == 'Available to download when due' %} nhsuk-tag--orange    
      {% elif status == 'Future prescription cancelled' %} nhsuk-tag--red            
      {% endif %}">
      {{ status }}
    </strong>    
  </div>
  {% endif %}
  {% if prescriptionDN6 === 'yes' %}
<div class="nhs-screening-whole-timeline__description"> Dispense notification ID: {{ prescriptionDN6id or 'b240434e-cb85-40bb-899c-1c61410c93a7'}}
</div>
<div class="nhs-screening-whole-timeline__description">Dispensed items: <ul class="nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-1">
{% if prescriptionDN6Items[0].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN6Items[0].item }}</br> {% set itemStatus = prescriptionDN6Items[0].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange             
  {% endif %}">
 {{ itemStatus }}
</strong>  </br>Quantity: {{ prescriptionDN6Items[0].quantity }}</br>Instruction: {{ prescriptionDN6Items[0].instruction }}  </li>{% endif %}
{% if prescriptionDN6Items[1].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN6Items[1].item }}</br>{% set itemStatus = prescriptionDN6Items[1].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
  {% endif %}">
 {{ itemStatus }}
</strong></br>Quantity: {{ prescriptionDN6Items[1].quantity }}</br>Instruction: {{ prescriptionDN6Items[1].instruction }}</li> {% endif %}
{% if prescriptionDN6Items[2].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN6Items[2].item }}</br>{% set itemStatus = prescriptionDN6Items[2].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange              
  {% endif %}">
 {{ itemStatus }}
</strong> </br>Quantity: {{ prescriptionDN6Items[2].quantity }}</br>Instruction: {{ prescriptionDN6Items[2].instruction }} </li>{% endif %}
{% if prescriptionDN6Items[3].item %}<li class="nhsuk-u-font-size-16">{{ prescriptionDN6Items[3].item }} </br> {% set itemStatus = prescriptionDN6Items[3].status %} <strong class="nhsuk-tag            
  {% if itemStatus == 'Item to be dispensed' %} nhsuk-tag--yellow             
  {% elif itemStatus == 'Item fully dispensed' %} nhsuk-tag--green             
  {% elif itemStatus == 'Item cancelled' %} nhsuk-tag--red            
  {% elif itemStatus == 'Future issue date' %} nhsuk-tag--blue      
  {% elif itemStatus == 'Item dispensed - partial' %} nhsuk-tag--blue
  {% elif itemStatus == 'Item not dispensed - owing' %} nhsuk-tag--blue
  {% elif itemStatus == 'To dispense in the future' %} nhsuk-tag--blue 
  {% elif itemStatus == 'Future eRD issue' %} nhsuk-tag--aqua-green    
  {% elif itemStatus == 'Item not dispensed' %} nhsuk-tag--orange   
  {% elif itemStatus == 'Item expired' %} nhsuk-tag--white      
  {% elif itemStatus == 'Claimed' %} nhsuk-tag--grey 
  {% elif itemStatus == 'Item with dispenser' %} nhsuk-tag--purple
  {% elif itemStatus == 'Available to download when due' %} nhsuk-tag--orange             
  {% endif %}">
 {{ itemStatus }}
</strong> </br>Quantity: {{ prescriptionDN6Items[3].quantity }}</br>Instruction: {{ prescriptionDN6Items[3].instruction }}</li>{% endif %}
</ul>
</div>
{% endif %}


</div>
{% endif %}

              </div>
      
    </div>
  </div>
</div>