<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" style="box-shadow: none;" id="patient-details-panel">
    <div class="nhsuk-card__content nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2 nhsuk-u-padding-right-3 nhsuk-u-padding-left-3">
      <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Nominated dispenser</h3>
      <p class="nhsuk-u-margin-bottom-1">{{ prescriptionNomDispenserOrg or 'Cohens chemist (ODS: FV519)' }}</p>
      <p class="nhsuk-u-margin-bottom-1">  {{ prescriptionNomDispenserAddress or '22 RUE LANE, CHISWICK, KT19 D12' }}
        <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Phone number</h3>
        <p class="nhsuk-u-margin-bottom-1">{{ prescriptionNomDispeserContact or '01943 863158' }}</p>



    
    </div>
  </div>
</div>