<div class="patient-summary-eps">
  <div class="row bottom-xs">
    <div class="patient-summary__block" id="summary-name">
      <h1 class="nhsuk-heading-xs patient-summary__info">
        {{ patient.firstName or 'Sophia' }}
        {{ patient.lastName | upper or 'Rodriguez'| upper }} (temporary)
      </h1></div>
    <div class="patient-summary__block" id="summary-gender">
      <span class="patient-summary__info">Gender: {{ patient.gender or 'Female' }}</span>
    </div>
    <div class="patient-summary__block" id="summary-nhs-number">
      <span class="patient-summary__info">NHS number: <span id="copyText2">{{ patient.nhsNumber | formatNhsNumber  or '9726918863' | formatNhsNumber }}</span></span>
    </div>
    <div class="patient-summary__block" id="summary-dob">
      <span class="patient-summary__info">Date of birth: {{ patient.dob or '5-Aug-1990' }}</span>
    </div>
    <div class="patient-summary__block" id="summary-address">
      <span class="patient-summary__info">Temporary address: {{ patient.usualAddress or '123 TEST STREET, TEST LANE, LEEDS, WEST YORKSHIRE, LS1 1JL' }}</span>
    </div>
  </div>
  
 
  <div id="patientview-sentinel" style="height: 1px; background-color: transparent;"></div>
</div>


<span class="app-floating-name-dob">
  {{ patient.firstName or 'Sofia' }} {{ patient.lastName | upper or 'Rodriguez'| upper }} |&nbsp;DOB: {{ patient.dob or '5-Aug-1990' }}
</span>
