<div class="patient-summary-eps-site">
  <div class="row bottom-xs">
   
    <div class="patient-summary__block" id="summary-gender">
      <span class="patient-summary__info">Current site:  {{ prescription.Dispenserorg or 'COHENS CHEMIST (ODS: FV519)' }}</span>
    </div>
    <div class="patient-summary__block" id="summary-nhs-number">
      <span class="patient-summary__info">Address:{{ prescription.Dispenseraddress or '123 Lime street, Norfolk' }} </span>
    </div>
    <div class="patient-summary__block" id="summary-dob">
      <span class="patient-summary__info">Contact details: {{ prescription.Dispensercontact or '01234 123453' }}</span>
    </div>
   
  </div>
  
 
  <div id="patientview-sentinel" style="height: 1px; background-color: transparent;"></div>
</div>


<span class="app-floating-name-dob">
  {{ patient.firstName or 'Sofia' }} {{ patient.lastName | upper or 'Rodriguez'| upper }} |&nbsp;DOB: {{ patient.dob or '5-Aug-1990' }}
</span>
