{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}
{% set containerClasses = 'patient-search-form-container' %}

{% block pageTitle %}
Find a patient by NHS number - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

<div class="above-tab-space">
  <section class="nhsuk-hero">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper"><h1 class="nhsuk-u-margin-bottom-3">National prescription tracker</h1></div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="nhsuk-tab-set find-patient-tabset">
  <div class="find-patient-tabset__container">
    <a href="search" class="nhsuk-tab-set__tab nhsuk-tab-set__tab--active" id="nhs-number-search-tab" type="button">
      <span class="nhsuk-u-visually-hidden">Search by </span>
      Prescription ID search
    </a>
    <a href="search-nhs" class="nhsuk-tab-set__tab" id="basic-search-tab" type="button">
      <span class="nhsuk-u-visually-hidden">Search by </span>
      NHS number search
    </a>
    <a href="search-basic" class="nhsuk-tab-set__tab" id="advanced-search-tab" type="button">
      <span class="nhsuk-u-visually-hidden">Search by </span>
      Basic details search
    </a>
    
  </div>
</div>

{% endblock %}


{% block content %}

<div class="main-body-wrapper">

<div class="patient-search-form row">
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div>
      <form action="search-presc-post" method="POST" novalidate="">
        <div class="patient-search-form__field-group">
          <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1 no-outline" id="presc-number-search-form-nhs-number--label" tabindex="-1">
            <span class="nhsuk-u-visually-hidden">Search by </span>
            Search using a prescription ID number
          </h2>
          <div class="nhsuk-hint" id="presc-number-hint">This is 18 characters and may also be called barcode or token ID.</div>
          <div class="nhsuk-form-group">
            <input autofocus aria-describedby="presc-number-hint" aria-labelledby="presc-number-search-form-presc-number--label" autocomplete="off" class="nhsuk-input nhsuk-input--width-18" id="presc-number-search-form-presc-number" name="prescNumber" type="tel" value="">
          </div>
        </div>

        {% if data['devMode'] === 'true' %}
        {# DEVMODE SCENARIOS #}
        <br>
        <details class="nhsuk-details dev-mode">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Show Patient list
            </span>
          </summary>

          <div class="nhsuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              {% for item in data.patients %}
                {% set patientList = item | objectToArray %}
                {% for patient in patientList %}
                  <li>
                    <a href="patient-overview?nhsNumber={{ patient.nhsNumber }}">
                      {{ patient.firstName }} {{ patient.lastName }} | {{ patient.dob | calculateAge }}
                    </a>
                  </li>
                  {% else %}
                  <li>None found</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </details>
        <br>

        {% endif %}

        <button aria-disabled="false" class="nhsuk-button patient-search-form__button" id="nhs-number-submit" type="submit">Find a prescription</button>
      </form>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div><h2 class="bulletins-header">Bulletins</h2>
      <div class="bulletins-box">
        <div class="bulletin-item" id="bulletin-item-0-20990101">
          <p tabindex="0"><b>Welcome to the National prescription tracker</b>
            <br>
            This is the newest version of the prescription tracker. 
          </p>
          <ul>
            <li>
              <a href="javascript:void(0)" rel="noopener noreferrer external" tabindex="0" target="_blank">Find out more about prescription tracker (opens in a new tab)</a>
            </li>
            <li>
              <a href="javascript:void(0)" rel="noopener noreferrer external" tabindex="0" target="_blank">Get help with using prescription tracker (opens in a new tab)</a>
            </li>
          </ul>
          <p></p></div>
        <hr class="bulletin-separator">
        <div class="bulletin-item" id="bulletin-item-1-20240104">
          <p tabindex="0"><b>Help us make the service better for you</b>
            <br>
            We would like to hear from users of the Electronic Prescription Service (EPS) so we can better understand your experience and improve the service.
            <a href="javascript:void(0)" rel="noopener noreferrer external" tabindex="0" target="_blank">Register you interest to take part.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
