{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideMobileNav = 'true' %}

{% block pageTitle %}
  Patient Details - {{ serviceName }}
{% endblock %}

{% block content %}

<div class="main-body-wrapper">
  <div class="patient-fgm-view">
    <div class="row">
      <div class="col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" id="navigate-back" href="patient-details" tabindex="0">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__chevron-left" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Back to patient information
          </a>
        </div>
        <h1 class="nhsuk-heading-l">Child protection alert</h1>
        <div class="nhsuk-inset-text">
          <p>This child has <a href="">1 active plan</a>.</p>
        </div>
        <h2 class="nhsuk-heading-l">Active child protection information</h2>

        <div class="data-panel__wrapper no-outline" tabindex="-1">
          <div class="nhsuk-card data-panel">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                <span>Child Protection Plan</span>
              </h3>
              <p>A plan designed to keep a child safe, setting out how things can be made better for the family and what support they will need. For more information contact the local authority.</p>
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Start date</dt>
                  <dd class="nhsuk-summary-list__value">
                    <span class="data-field__content">23-Apr-2023</span>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">End date</dt>
                  <dd class="nhsuk-summary-list__value">
                    <span class="data-field__content">23-Apr-2026</span>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Responsible local authority</dt>
                  <dd class="nhsuk-summary-list__value">
                    <span class="data-field__content">WEST YORKSHIRE STRATEGIC HA (Q12)</span>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Emergency duty number</dt>
                  <dd class="nhsuk-summary-list__value">
                    <span class="data-field__content">tel: 0113 450450</span>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">Office hours number</dt>
                  <dd class="nhsuk-summary-list__value">
                    <span class="data-field__content">tel: 0113 450450</span>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <h2 class="nhsuk-heading-l">Previous views</h2>

        <div class="data-panel__wrapper no-outline" tabindex="-1">
          <div class="nhsuk-card data-panel">
            <div class="nhsuk-card__content">
              <p>The relevant local authorities are notified when this page is viewed in an emergency or unplanned care setting. This page shows the last 25 such views.</p>
              <p>If you have any concerns about this patient you should:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>follow your local safeguarding procedures
                <li>speak with your manager or safeguarding lead</li>
                <li>consult the statutory guidance for Working together to safequard children (opens in a new tab)</li>
              </ul>
              <table id="search-results-table" class="responsive-table" role="grid">
                <caption class="heading-medium">Search results</caption>
                <thead>
                  <tr role="row">
                    <th scope="col" class="name-results-th">Date and time (GMT)</th>
                    <th scope="col" class="gender-results-th">Viewer</th>
                    <th scope="col" class="dob-results-th">Role</th>
                    <th scope="col" class="address-results-th">Organisation</th>
                  </tr>
                </thead>
                <tbody class="patient-results">
                <tr role="row">
                  <td role="gridcell">
                    23-Apr-2024 14:59
                  </td>
                  <td role="gridcell">
                    Dr GPSystem HealthCheck
                  </td>
                  <td role="gridcell">
                    General Medical Practitioner
                  </td>
                  <td role="gridcell">
                    EAST LEEDS PCT (5HK)
                  </td>
                </tr>

                <tr role="row">
                  <td role="gridcell">
                    19-May-2023 03:46
                  </td>
                  <td role="gridcell">
                    Mr JAGATAR RATTANPAL
                  </td>
                  <td role="gridcell">
                    Midwife - Consultant
                  </td>
                  <td role="gridcell">
                    EAST LEEDS PCT (5HK)
                  </td>
                </tr>

                <tr role="row">
                  <td role="gridcell">
                    30-Apr-2023 03:46
                  </td>
                  <td role="gridcell">
                    Miss JAYNE MURPHY
                  </td>
                  <td role="gridcell">
                    Consultant
                  </td>
                  <td role="gridcell">
                    EAST LEEDS PCT (5HK)
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

{% endblock %}
