<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card data-panel" id="patient-details-panel">
    <div class="nhsuk-card__content">
      
      <div style="display: flex; align-items: center;"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/
        2000/svg">
              <circle cx="10" cy="10" r="10" fill="#DA291C"/>
              </svg>
              <p style="margin: 0; line-height: 20px; margin-left: 14px;">
                This prescription or an item on the prescription has pending cancellations. <a href="#">View medication item.</a>
              </p></div>
    </div>
  </div>
</div>