<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card data-panel"  id="contacts-panel-3">
    <div class="nhsuk-card__content">

      <h3 class="nhsuk-card__heading">
        <span>
          4. {{ patient.contact4Name or 'María Carmen Rodriguez García' }}
        </span>
      </h3>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Relationship</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4Relationship === 'Not Recorded' or patient.contact4Relationship === undefined %}--none{% endif %}">
              {{ patient.contact4Relationship or 'Mother' }}<em>{{ patient.contact4RelationshipType or '(Personal Relationship)' }}</em></span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">NHS Number</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4NhsNumber === 'Not Recorded' or patient.contact4NhsNumber === undefined %}--none{% endif %}">
              <form action="change-record" method="POST">
                <input type="hidden" name="change-by-nhs" value="{{ patient.contact4NhsNumber or '5900009890' }}" />
                <button role="button" tabindex="0" class="unstyle-button">
                  {{ patient.contact4NhsNumber | formatNhsNumber or '5900009890' | formatNhsNumber }}
                </button>
              </form>
            </span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Address</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4Address === 'Not Recorded' or patient.contact4Address === undefined %}--none{% endif %} data-field__content--address">
              {{ patient.contact4Address or '55 ROAD, LEEDS, WEST YORKSHIRE, LS1 XXZ' }}
            </span>
            <br>
            <span class="data-field__note">From 08-Nov-2023</span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Telephone</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4MainTel === 'Not Recorded' or patient.contact4MainTel === undefined %}--none{% endif %}">
              {{ patient.contact4MainTel or '1234447898' }}
              </span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Email</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4MainEmail === 'Not Recorded' or patient.contact4MainEmail === undefined %}--none{% endif %}">
              {{ patient.contact4MainEmail or 'Not Recorded' }}</span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Language</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4Language === 'Not Recorded' or patient.contact4Language === undefined %}--none{% endif %}">
              {{ patient.contact4Language or 'Not Recorded' }}
             </span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Preferred Method of Contact</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4ContactMethod === 'Not Recorded' or patient.contact4ContactMethod === undefined %}--none{% endif %}">
              {{ patient.contact4ContactMethod or 'Not Recorded' }}
            </span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Written Contact Preferences</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4WrittenContact === 'Not Recorded' or patient.contact4WrittenContact === undefined %}--none{% endif %}">
              {{ patient.contact4WrittenContact or 'Not Recorded' }}
            </span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Copy Correspondence</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content{% if patient.contact4CopyCorrespond === 'Not Recorded' or patient.contact4CopyCorrespond === undefined %}--none{% endif %}">
              {{ patient.contact4CopyCorrespond or 'Not Recorded' }}
            </span>
          </dd>
        </div>
      </dl>

    </div>
  </div>
</div>