<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card data-panel" id="consent-info-panel">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        <span>Summary Care Record / Consent Preference</span>
      </h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">SCR Consent Preference</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content">Permission to view required</span>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>