<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card data-panel" id="message history">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        <span>Message history</span>

      </h3>
      <div class="nhs-screening-whole-timeline">
        <!--first item-->
        <div class="nhs-screening-whole-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="nhs-screening-whole-timeline__title">Dispenser has sent a claim notification</h2>
          </div>
          <p class="nhs-screening-whole-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">Sent date: 14-Jun-2024 12:05:33
            </time>
          </p>
          <div class="nhs-screening-whole-timeline__description">Organisation: ASDA Pharmacy (ODS:OXY2G)
          </div>
          <div class="nhs-screening-whole-timeline__description">New status:    <strong class="nhsuk-tag nhsuk-tag--grey">
            Claimed
           </strong>
          </div>
        </div>
              <!-- second item -->
        <div class="nhs-screening-whole-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="nhs-screening-whole-timeline__title">Dispenser has sent a dispense notification</h2>
          </div>
          <p class="nhs-screening-whole-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">Sent date: 07-Jun-2024 12:05:33
            </time>
          </p>
          <div class="nhs-screening-whole-timeline__description">Organisation: ASDA Pharmacy (ODS:OXY2G)
          </div>
          <div class="nhs-screening-whole-timeline__description">New status:    <strong class="nhsuk-tag nhsuk-tag--green">
            All items dispensed
           </strong>
          </div>
          <div class="nhs-screening-whole-timeline__description"> Dispense notification ID: b240434e-cb85-40bb-899c-1c61410c93a7
          </div>
          <div class="nhs-screening-whole-timeline__description">Prescription items: <ul class="nhsuk-u-padding-top-2"><li class="nhsuk-u-font-size-16">Phosphates enema (Formula B) 128ml standard tube</br>Quantity: 1 tube </li></ul>
          </div>
        </div>
              <!-- second item-->
              <div class="nhs-screening-whole-timeline__item">
                <div class="moj-timeline__header">
                  <h2 class="nhs-screening-whole-timeline__title">Dispenser has downloaded the prescription</h2>
                </div>
                <p class="nhs-screening-whole-timeline__date">
                  <time datetime="2019-06-14T14:01:00.000Z">Sent date: 06-Jun-2024 17:05:33
                  </time>
                </p>
                <div class="nhs-screening-whole-timeline__description">Organisation: ASDA Pharmacy (ODS:OXY2G)
                </div>
                <div class="nhs-screening-whole-timeline__description">New status:    <strong class="nhsuk-tag nhsuk-tag--purple">
                  Downloaded by a dispenser
                 </strong>
                </div>
              </div>
        <!--first item-->
              <div class="nhs-screening-whole-timeline__item">
                <div class="moj-timeline__header">
                  <h2 class="nhs-screening-whole-timeline__title">Prescription has been uploaded</h2>
                </div>
                <p class="nhs-screening-whole-timeline__date">
                  <time datetime="2019-06-14T14:01:00.000Z">Sent date: 05-June-2024 12:33:33
                  </time>
                </p>
                <div class="nhs-screening-whole-timeline__description">Organisation: FIJI SURGERY (ODS: FI05964)
                </div>
                <div class="nhs-screening-whole-timeline__description">New status:  <strong class="nhsuk-tag nhsuk-tag--yellow">
                  Available to download
                </strong>
                </div>
              </div>
              </div>
      
    </div>
  </div>
</div>