<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card data-panel" id="prescription-information-panel">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading">
        <span>Prescription information</span>

      </h3>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Prescription ID</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
              1
            </span>
            <br>

            


          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Prescription status</dt>
          <dd class="nhsuk-summary-list__value">
            <span class="data-field__content data-field__content--address">
             1
            </span>
            <br>

           

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Prescription type</dt>
          <dd class="nhsuk-summary-list__value ">
            <span class="data-field__content data-field__content--address">
             1
            </span>
            <br>

           

          </dd>
        </div>
      </dl>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Print prescription
      </button>
    </div>
  </div>
</div>