{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}
{% set containerClasses = 'patient-search-form-container' %}
{% block pageTitle %}
Privacy notice - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

 
  

{% endblock %}

{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Home</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Level three
    </a>
  </p>
</nav>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Accessibility statement for Prescription Tracker</h1>
<p>This accessibility statement applies to Prescription Tracker.</p>
<p>This website is run by NHS England. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
 <ul>
  <li>change colours, contrast levels and fonts using browser or device settings</li>
  <li>zoom in up to 400% without the text spilling off the screen</li>
  <li>navigate most of the website using a keyboard or speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
 </ul>
  <p>We've also made the website text as simple as possible to understand.</p>

  <p><a href="#">Ability net</a> has advice on making your device easier to use if you have a disability.</p>
     
      <h2>How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul>
        <li>you cannot modify the line height or spacing of text</li>
        <li>most older PDF documents are not fully accessible to screen reader software</li>
        <li>live video streams do not have captions</li>
        <li>you cannot skip to the main content when using a screen reader</li>
        <li>there's a limit to how far you can magnify the map on our 'contact us' page</li>
      </ul>

      <h2>Feedback and contact information</h2>
      <p>If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact:</p>
      <ul>
        <li>contact here</li>
      </ul>

      <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
      <ul>
        <li>email</li>
        <li>call</li>
        <li>other</li>
      </ul>

      <p>We'll consider your request and get back to you in () days.</p>
      <p>If you cannot view the map on our 'contact us' page, call or email us for directions.</p>

      <h2>Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to you complaint, <a>contact the Equality Advisory and Support Service (EASS)</a>.</p>
        
     <h2>Technical information about this website's accessibility</h2>
     <p>NHS England is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications)(No.2) Accessibility Regulations 2018.</p>

     <h2>Compliance status</h2>
     <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>

     <p>This website is partially compliant with the <a>Web Content Accessibility Guidelines version 2.2</a> AA standard. The non-compliances and exemptions are listed below.</p>

     <h2>Non-accessible content</h2>
     <p>The content listed below is non-accessible for the following reasons.</p>

      <h2>Non-compliance with the accessibility regulations</h2>
      <p>Some images do not have a text alternative, so people using a screen reader cannot access the information. This fails WCAG 2.2 success criterion 1.1.1 (non-text content). </p>
      <p>We plan to add text alternative for all images by Septemver 2022. When we publish new content we'll make sure out use of images meets accessibility standards.</p>
 
      <h2>Disproportionate burden</h2>
      <h3>Navigation and accessing information</h3>
      <p>There's no way to skip the repeated content in the page header (for example, a 'skip to main content' option).</p>
      <p>It's not always possible to change the device orientation from horizontal to vertical without making it more difficult to view the content.</p>
      <p>It's not possible for users to change text size without some of the content overlapping.</p>
      <p>We've assessed the cost of fixing the issues with navigation and accessing information. We believe that doing so now would be a disproprotionate burden within the meaning of the accessibility regulations. We will make another assessment when the supplier contract is up for renewal, like to be in 3 days.</p>

      <h2>Content that's not within the scope of the accessibility regulations</h2>
      <h3>PDFs and other documents</h3>
      <p>The accessibility regulations do not require us to fix PDFs or other documents published before 23 September 2018 if they’re not essential to providing our services. For example, we do not plan to fix XYZ document.</p>
      <p>Any new PDFs or Word documents we publish will meet accessibility standards.</p>

      <h3>Live video</h3>
      <p>We do not plan to add captions to live video streams because live video is exempt from meeting the accessibility regulations.</p>

    <h2>What we're doing to improve accessibility</h2>
    <p>Our accessibility roadmap [add link to roadmap] shows how and when we plan to improve accessibility on this website.</p>
        
    <h2>Preparation of this accessibility statement</h2>
    <p>This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed].</p>
    <p>This website was last tested on [date] against the WCAG 2.2 AA standard.</p>   
    <p>The test was carried out by [add name of organisation that carried out test, or indicate that you did your own testing]. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>
    <p>You can read the full accessibility test report [add link to report].</p>


 
    

 
  

 
   




 
     
  

 
 
 

      </div>

 
    
    </div>


    


{% endblock %}