{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}
{% set containerClasses = 'patient-search-form-container' %}
{% block pageTitle %}
Privacy notice - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

 
  

{% endblock %}

{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Home</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Level three
    </a>
  </p>
</nav>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Accessibility statement for <a href="https://prescriptiontracker.nhs.uk/">Prescription Tracker</a>.</h1>
<p>This accessibility statement applies to Prescription Tracker.</p>
<p>This website is run by NHS England. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
 <ul>
  <li>change colours, contrast levels and fonts using browser or device settings</li>
  <li>zoom in up to 400% without the text spilling off the screen</li>
  <li>navigate most of the website using a keyboard or speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
 </ul>
  <p>We've also made the website text as simple as possible to understand.</p>

  <p><a href="#">Ability net</a> has advice on making your device easier to use if you have a disability.</p>
     
      <h2>How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul>
        <li>you cannot modify the line height or spacing of text</li>
        <li>most older PDF documents are not fully accessible to screen reader software</li>
        <li>live video streams do not have captions</li>
        <li>you cannot skip to the main content when using a screen reader</li>
        <li>there's a limit to how far you can magnify the map on our 'contact us' page</li>
      </ul>
      <p><a href="https://abilitynet.org.uk/">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.</p>

      <h2>How accessible this website it</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul>
        <li>screenreaders do not continue to read content when you select a new tab on the ‘Search for a prescription’ page</li>
        <li>using the tab key does not focus the ‘Skip to main content’ link after a page is loaded</li>
        <li>if you click into a page after it is loaded, using the tab key does not focus the next element of the page</li>
        <li>the hint text is not associated with the search field on the prescription ID tab on the ‘Search for a prescription’ page</li>
        <li>the cards on the ‘Select your role’ page should stay white when focused or hovered over</li>
        <li>on smaller screens, there is no aria-expanded attribute on the menu icon</li>
        <li>when you enter information into a field on the ‘Search for a prescription’ page and search, the page refreshes and focus is moved to the footer if you are navigating using arrow keys</li>
        <li>the tabs on the ‘Prescription List’ page are separate URLs with the same headings and page titles, instead of the same URL with different fragment identifiers</li>
        <li>selecting the tabs on the ‘Search for a prescription’ page should show you unique headings and page titles because each tab is a separate URL</li>
      </ul>
      <h2>Feedback and contact information</h2>
      <p>If you find any problems not listed on this page or think we're not meeting accessibility requirements, email <a href="#">epssupport@nhs.net</a></p>
     

      <p>If you need information on this website in a different format, email <a href="#">epssupport@nhs.net</a></p>
      <p>We’ll consider your request and get back to you within 5 working days.</p>
     

      <h2>Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>
        
     <h2>Technical information about this website's accessibility</h2>
     <p>NHS England is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

     <h2>Compliance status</h2>
     <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>

     <p>This website is partially compliant with the Web Content Accessibility Guidelines version 2.2 AA standard, due to the non-compliances listed below.</p>

     <h2>Non-accessible content</h2>
     <p>The content listed in the ‘Non-compliance with the accessibility regulations’ section explains the WCAG 2.2 criteria that the Prescription Tracker is not compliant with and why.</p>

      <h2>Non-compliance with the accessibility regulations</h2>
      <ul>
        <li>Screenreaders do not continue to read content when you select a new tab on the ‘Search for a prescription’ page. This fails WCAG 2.2 success criterion 2.4.3 (focus order).</li>
        <li>Using the tab key does not focus the ‘Skip to main content’ link after a page is loaded. This fails WCAG 2.2 success criterion 2.4.3 (focus order).</li>
        <li>If you click into a page after it is loaded, using the tab key does not focus the next element of the page. This fails WCAG 2.2 success criterion 2.4.3 (focus order).</li>
        <li>The hint text is not associated with the search field on the prescription ID tab on the ‘Search for a prescription’ page. This fails WCAG 2.2 success criterion 3.3.1 (error identification).</li>
        <li>The cards on the ‘Select your role’ page should stay white when focused or hovered over. This fails WCAG 2.2 success criteria 1.4.11 (minimum contrast and non-text contrast). </li>
        <li>On smaller screens, there is no aria-expanded attribute on the menu icon. This fails WCAG 2.2 success criterion 4.1.2 (name, role, value).</li>
        <li>When you enter information into a field on the ‘Search for a prescription’ page and search, the page refreshes and focus is moved to the footer if you are navigating using arrow keys. This fails WCAG 2.2 success criterion 3.2.2 (on input).</li>
        <li>The tabs on the ‘Prescription List’ page are separate URLs with the same headings and page titles, instead of the same URL with different fragment identifiers. This fails WCAG 2.2 success criterion 2.4.2 (page titled).</li>
        <li>Selecting the tabs on the ‘Search for a prescription’ page should show you unique headings and page titles because each tab is a separate URL. This fails WCAG 2.2 success criterion 2.4.2 (page titled).</li>
      </ul>

      <p>We plan on fixing these issues before the Prescription Tracker is available to use nationally.</p>
    

    <h2>What we're doing to improve accessibility</h2>
    <p>An external company will audit the Prescription Tracker’s accessibility again in the next few months. We plan on fixing all accessibility issues before the Prescription Tracker is available to use nationally.</p>
        
    <h3>Preparation of this accessibility statement</h3>
    <p>This statement was prepared on 9 March 2026. It was last reviewed on 9 March 2026.</p>
    <p>This website was last tested on 11 February 2026 against the WCAG 2.2 AA standard.</p>   
    <p>The test was carried out by Dig Inclusion and the Prescription Tracker team also do their own accessibility testing of new features. This is done with a mixture of automated and manual testing.</p>
    <p>We are planning another external audit of the Prescription Tracker against the WCAG 2.2 AA standard.</p>


 
    

 
  

 
   




 
     
  

 
 
 

      </div>

 
    
    </div>


    


{% endblock %}