{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}
{% set containerClasses = 'patient-search-form-container' %}
{% block pageTitle %}
Privacy notice - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

 
  

{% endblock %}

{% block content %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search">Home</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Level three
    </a>
  </p>
</nav>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Accessibility statement for the Prescription Tracker</h1>
<p>This accessibility statement applies to the <a href="https://prescriptiontracker.nhs.uk/">Prescription Tracker</a>.</p>
<p>This website is run by NHS England. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
 <ul>
  <li>change colours, contrast levels and fonts using browser or device settings</li>
  <li>zoom in up to 400% without the text spilling off the screen</li>
  <li>navigate most of the website using a keyboard or speech recognition software</li>
  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
 </ul>
  <p>We've also made the website text as simple as possible to understand.</p>

  <p><a href="#">AbilityNet (opens in a new tab)</a> has advice on making your device easier to use if you have a disability.</p>
     
      
     
      <h2>How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul>
        <li>on the ‘Prescriptions list’ page, the table header text is not clear to screen reader users </li>
        <li>screen readers do not announce when the content has loaded after a user is shown the ‘Loading’ spinner, so there is no non-visual indication that something has changed </li>
        <li>on the ‘View prescription’ link for eRD prescriptions, the same text is used for multiple links that go to different places. </li>
        <li>screen readers continuously announce how long is it until the user will be logged out if they are shown the ‘You are about to be logged out’ modal </li>
        <li>the hint text is not associated with the search field on the prescription ID tab on the ‘Search for a prescription’ page.</li>
        <li>the focus order is illogical on the ‘Prescriptions list’ page </li>
        <li>the focus moves to the middle of the patient banner after a user navigating with their arrow keys searches for a prescription  </li>
        
      </ul>
      <h2>Feedback and contact information</h2>
      <p>If you find any problems not listed on this page or think we're not meeting accessibility requirements, email <a href="#">epssupport@nhs.net</a>.</p>
     

      <p>If you need information on this website in a different format, email <a href="#">epssupport@nhs.net</a>.</p>
      <p>We’ll consider your request and get back to you within 5 working days.</p>
     

      <h2>Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>.</p>
        
     <h2>Technical information about this website's accessibility</h2>
     <p>NHS England is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

     <h3>Compliance status</h3>
     <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>

     <p>This website is partially compliant with the Web Content Accessibility Guidelines version 2.2 AA standard, due to the non-compliances listed below.</p>

     <h2>Non-accessible content</h2>
     <p>The content listed in the ‘Non-compliance with the accessibility regulations’ section explains the WCAG 2.2 criteria that the Prescription Tracker is not compliant with and why.</p>

      <h3>Non-compliance with the accessibility regulations</h3>
      <ul>
        <li>On the ‘Prescriptions list’ page, the table header text is not clear to screen reader users. This fails WCAG 2.2 success criteria 1.3.1 (info and relationships) and 3.3.2 (labels or instructions).</li>
        <li>When navigating between pages, sometimes a user will be shown a ‘Loading’ spinner. Screen readers do not announce when the content has loaded, so there is no non-visual indication that something has changed. This fails WCAG 2.2 success criteria 1.3.3 (sensory characteristics) and 4.1.3 (status messages).</li>
        <li>On the ‘View prescription’ link for eRD prescriptions, the same text is used for multiple links that go to different places. This fails WCAG 2.2 success criterion 2.4.4 (link purpose).</li>
        <li>On the modal that tells users they are about to be logged out, screen readers continuously announce how long is it until the user will be logged out which could be distracting for users. This fails WCAG success criterion 4.1.3 (status messages).</li>
        <li>The hint text is not associated with the search field on the prescription ID tab on the ‘Search for a prescription’ page. This fails WCAG 2.2 success criterion 3.3.2 (labels or instructions).</li>
        <li>On the ‘Prescriptions list’ page, the focus order is illogical. When a user moves through tabs using arrow keys, the tab activates but its content does not appear for a screen reader user. If a user presses tab to move from the tab to the content within the tab, the focus moves back to the skip link. This fails WCAG 2.2 success criterion 2.4.3 (focus order).</li>
        <li>When you enter information into a field on the ‘Search for a prescription’ page and search, the page refreshes and focus is moved to the middle of the patient details banner if the user is navigating using arrow keys. This fails WCAG 2.2 success criterion 3.2.2 (on input).</li>
      </ul>

      <p>We plan on fixing these issues before the Prescription Tracker is available to use nationally.</p>
    

    <h2>What we're doing to improve accessibility</h2>
    <p>An external company will audit the Prescription Tracker’s accessibility again in the next few months. We plan on fixing all accessibility issues before the Prescription Tracker is available to use nationally.</p>
        
    <h3>Preparation of this accessibility statement</h3>
    <p>This statement was prepared on 9 March 2026. It was last reviewed on 30 July 2026. </p>
    <p>This website was first tested on 11 February 2026 against the WCAG 2.2 AA standard by Dig Inclusion. Dig Inclusion tested the website again on 9 July 2026.</p>   
    <p>The Prescription Tracker team also do their own accessibility testing of new features. This is done with a mixture of automated and manual testing.</p>
    <p>Dig Inclusion will be testing the remaining non-compliances in August 2026. We will update this statement after the website has been tested again.</p>


 
    

 
  

 
   




 
     
  

 
 
 

      </div>

 
    
    </div>


    


{% endblock %}