{% extends './_includes/layout-application-none.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}

{% block pageTitle %}
Error 500 - {{ serviceName }}
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-sm-0 col-md-1 col-lg-1 col-xl-3"></div>
  <div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
    
      <h1 class="select-role-header nhsuk-heading-xl nhsuk-u-margin-bottom-3" id="select-role-header">
        Logout successful
      </h1>
        <p>You are now logged out of the service. To continue using the application, you must log in again.</p>
    </br>
        <a href="#">Log in</a> 
      

   
  </div>
</div>

{% endblock %}

