{% extends './_includes/layout-application.html' %}
{% set primarynav = 'patient' %}
{% set hideNav = 'true' %}
{% set hideJump = 'true' %}


{% block pageTitle %}
Prescription - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include './_includes/includes-patient-banner-eps.html' %} {% include './_includes/includes-prescription-banner-eps.html' %}


{% endblock %}

{% block content %}


  <div class="nhsuk-width-container-fluid">
   
    
      <div class="nhsuk-grid-row">
       
        <div class="nhsuk-grid-column-one-half">
          <h1 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Dispensed items</h1>
          {% if prescriptionItems[0].exists === 'yes' %}
          {% include "./_panels/panel-eps-medication-items-dispensed.html" %} 
          {% endif %}

          {% if prescriptionItems[1].exists === 'yes' %}
          {% include "./_panels/panel-eps-medication-item2-dispensed.html" %} 
          {% endif %}

          {% if prescriptionItems[2].exists === 'yes' %}
          {% include "./_panels/panel-eps-medication-item3-dispensed.html" %} 
          {% endif %}

          {% if prescriptionItems[3].exists === 'yes' %}
          {% include "./_panels/panel-eps-medication-item4-dispensed.html" %} 
          {% endif %}
           
       
        </div>
        <div class="nhsuk-grid-column-one-half">
          <h1 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">History</h1>
          {% include "./_panels/panel-eps-message-history.html" %}    
          <h1 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Prescriber and dispenser information</h1> 
          {% if prescriptionDispenser === 'yes' %}
          {% include "./_panels/panel-eps-dispenser.html" %}
          {% endif %}
         
          {% if prescriptionPrescriber === 'yes' %}
          {% include "./_panels/panel-eps-prescriber.html" %}
          {% endif %}

          {% if prescriptionNomDispenser === 'yes' %}
          {% include "./_panels/panel-eps-nominateddispenser.html" %}
          {% endif %}
          
        </div>
      </div>
    
 
  </div>



  

  </div>

  
</div>


{% endblock %}
