{% extends 'layouts/layout.html' %}

{% block pageTitle %} NCRS prototypes - Index {% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">NCRS prototypes</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">
            Concepts, hypotheses and prototypes
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Currently in research and development</h2>

    <div class="nhsuk-main-wrapper " id="maincontent" role="main">

      <div class="bulleted-summary-list">

        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v2
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-blue"><strong>In design </strong></div>
            <li>
              <p>Prototype v2 adds more features likes searching and BNA screens.</p>

              <a href="/v2/start" class="nhsuk-button nhsuk-u-margin-bottom-3">Goto v2 prototype</a>
            </li>
          </ul>
        </div>

        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v1
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype v1 is aligned to the 'VEIT05' environment and went through usability testing from 30-Apr-2024 to 02-May-2024.</p>

              <a href="/v1/start" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v1 prototype</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">
    <h3 class="nhsuk-heading-m">Links</h3>

    <ul>
      <li><a href="https://github.com/NHSDigital/prototype-ncrs" target="_blank">Go to the Github repository</a></li>
      <li><a href="https://app.mural.co/t/nhsdigital8118/r/1642496035073" target="_blank">NCRS Mural Room</a></li>
      <li><a href="https://nhsd-confluence.digital.nhs.uk/display/SPINE/SCRa+redesign" target="_blank">Design Confluence</a></li>
      {% if data['local'] === "true" %}
      <li><a href="https://prototype-nhs-ncrs-46602fd1369f.herokuapp.com/" target="_blank">Latest NCRS Heroku prototype</a></li>
      {% endif %}
    </ul>

    <h3 class="nhsuk-heading-m">Previous prototypes</h3>

    <ul>
      <li><a href="https://ncrs-redesign-archive.herokuapp.com">https://ncrs-redesign-2022.herokuapp.com</a></li>
      <li><a href="https://ncrs-redesign-archive.herokuapp.com">https://ncrs-redesign-archive.herokuapp.com</a></li>
    </ul>

  </div>

</div>

{% endblock %}
