{% extends 'layouts/layout.html' %}

{% block pageTitle %} EPS prototypes - Index {% endblock %}

{% block beforeContent %}

<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">Electronics prescription service</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">
            Research and design
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-6">
    <h2>
Minimum viable product
    </h2>
<p> This minimum viable product will allow users to:</p>
<ul> 
  <li>select or change your role or site</li>
  <li>find prescriptions using prescription ID, nhs number or patient's basic details</li>
  <li>view prescriptions within a specified date range</li>
  <li>view prescription items, status, message history and prescriber/dispenser details</li>
</ul>
<a href="epsmvp/roles" class="nhsuk-button nhsuk-u-margin-bottom-3">Go to minimum viable product prototypes</a>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-m">Links</h3>

    <ul>
      <li><a href="https://github.com/NHSDigital/prototype-nhs-ncrs" target="_blank">Go to the Github repository</a></li>
      <li><a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1697098005197/ee087b0824f9f57d6ba1f0aa36dbfd4a9f62b4a3?sender=u43fb2a6449e3fd0722595086" target="_blank">EPS Design Mural</a></li>
      <li><a href="https://nhsd-confluence.digital.nhs.uk/display/APIMC/User+Research+-+Clinical+Prescription+Tracker" target="_blank">Research and Design Confluence</a></li>
      
    </ul>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Currently in research and development</h2>

    <div class="nhsuk-main-wrapper " id="maincontent" role="main">

      <div class="bulleted-summary-list">
        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v6
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-blue"><strong>In design </strong></div>
            <li>
              <p>Prototype testing overal navigation, new search results table and more complex prescriptions.</p>

              <a href="https://ncrs-redesign-2022.herokuapp.com/eps/v7/spine-portal" class="nhsuk-button nhsuk-u-margin-bottom-3">Go to v6 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v5
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype testing Locum role selection and journeys in prescription tracker.</p>

              <a href="https://ncrs-redesign-2022.herokuapp.com/eps/v6/spine-portal" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v5 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v4
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype testing role and organisation selection and some more complex prescription scenarios.</p>

              <a href="https://ncrs-redesign-2022.herokuapp.com/eps/v5/spine-portal" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v4 prototype</a>
            </li>
          </ul>
        </div>
       
       
        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v3
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype focussed on how a user might find a prescription without NHS number or prescription ID.</p>

              <a href="https://ncrs-redesign-2022.herokuapp.com/eps/v3/tracker-presc-no" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v3 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v2
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype testing tracker as a stand alone web-app with focus on business continuity mode re-design.</p>

              <a href="https://ncrs-redesign-2022.herokuapp.com/eps/v2/tracker-presc-no" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v2 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v1
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype testing whether users can intuitively find prescription tracker should it be located within NCRS.</p>

              <a href="https://ncrs-redesign-2022.herokuapp.com/eps/v1/nhs-number-search" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v1 prototype</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  

</div>

<!-- NCRS Links and timeline-->
<!-- 
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Currently in research and development</h2>

    <div class="nhsuk-main-wrapper " id="maincontent" role="main">

      <div class="bulleted-summary-list">

        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v2
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-blue"><strong>In design </strong></div>
            <li>
              <p>Prototype v2 adds more features likes searching and BNA screens.</p>

              <a href="/v2/start" class="nhsuk-button nhsuk-u-margin-bottom-3">Goto v2 prototype</a>
            </li>
          </ul>
        </div>

        <div class="relative">

          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v1
            </h3>
          </div>

          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete </strong></div>
            <li>
              <p>Prototype v1 is aligned to the 'VEIT05' environment and went through usability testing from 30-Apr-2024 to 02-May-2024.</p>

              <a href="/v1/start" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v1 prototype</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">
    <h3 class="nhsuk-heading-m">Links</h3>

    <ul>
      <li><a href="https://github.com/NHSDigital/prototype-ncrs" target="_blank">Go to the Github repository</a></li>
      <li><a href="https://app.mural.co/t/nhsdigital8118/r/1642496035073" target="_blank">NCRS Mural Room</a></li>
      <li><a href="https://nhsd-confluence.digital.nhs.uk/display/SPINE/SCRa+redesign" target="_blank">Design Confluence</a></li>
      {% if data['local'] === "true" %}
      <li><a href="https://prototype-nhs-ncrs-46602fd1369f.herokuapp.com/" target="_blank">Latest NCRS Heroku prototype</a></li>
      {% endif %}
    </ul>

    <h3 class="nhsuk-heading-m">Previous prototypes</h3>

    <ul>
      <li><a href="https://ncrs-redesign-archive.herokuapp.com">https://ncrs-redesign-2022.herokuapp.com</a></li>
      <li><a href="https://ncrs-redesign-archive.herokuapp.com">https://ncrs-redesign-archive.herokuapp.com</a></li>
    </ul>

  </div>

</div>

-->


{% endblock %}
