<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" id="patient-details-panel">
    <div class="nhsuk-card__content nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2 nhsuk-u-padding-right-3 nhsuk-u-padding-left-3">
     
      <p class="nhsuk-u-margin-bottom-2"><strong>Dispenser</strong> </br> {{ prescriptionDispenseOrg or 'COHENS CHEMIST (ODS: FV519)' }}</p>
      <p class="nhsuk-u-margin-bottom-2"> {{ prescriptionDispenserAddress or '123 Lime street, Norfolk' }}
        <p class="nhsuk-u-margin-bottom-1"><strong>Contact details</strong> </br> {{ prescriptionDispenserContact or '01234 123453' }}</p>


    </div>
  </div>
</div>