<div class="data-panel__wrapper no-outline" tabindex="-1">
  <div class="nhsuk-card nhsuk-u-margin-bottom-3 data-panel" id="patient-details-panel">
    <div class="nhsuk-card__content nhsuk-u-padding-3">
      
      <p class="nhsuk-u-margin-bottom-2"><strong>Nominated dispenser</strong> </br>    {{ prescriptionNomDispenserOrg or 'COHENS CHEMIST (ODS: FV519)' }}</p>
      <p class="nhsuk-u-margin-bottom-2">  {{ prescriptionNomDispenserAddress or '22 RUE LANE, CHISWICK, KT19 D12' }}
        <p class="nhsuk-u-margin-bottom-2"><strong>Contact details</strong> </br>  {{ prescriptionNomDispeserContact or '01943 863158' }}</p>



    
    </div>
  </div>
</div>